.nav{
  grid-column-start: 1;
  grid-column-end: 4;
  position: fixed;
  margin-top: 100px;
  top:200px;
  height: fit-content;
  max-height: 60vh;
  width:200px;
  overflow-wrap: anywhere;
  overflow-y: scroll;
}

.nav ul{
  padding-left:10px;
}
.nav ul li{
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  font-size: 14px;
  transition: 0.1s;
}
.nav ul li:hover{
  color:rgb(170, 170, 170);
}

.className{
  font-size: 30px;
  grid-column-start: 4;
  grid-column-end: 13;
}

.entry{
  grid-column-start: 4;
  grid-column-end: 13;
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
}

.entry pre{
  background-color: #2c2d31;
}

.entry pre code{
  color:white;
}
.entry > p:nth-of-type(1){
  font-size: 18px!important;
  margin: 3px 0px;
}

.entry p, .entry li{
  font-size: 14px;
}

.entry > div{
  margin: 10px 0px;
}
.paramHeader{
  width:100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.paramHeader h3, .paramHeader h4{
  width:50%;
}

.paramHeader h4{
  text-align: right;
}

.paramHeader div{
  width:100%;
  padding: 0px 0px;
  border-top: solid 2px #ebebeb;
  display: inline-flex;
}

.paramHeader div p{
  margin: 6px 0px;
  font-size: 14px;
}

.paramHeader div p:nth-of-type(1){
  color:#333333;
  font-family: 'Roboto Mono', monospace;
}
.paramHeader div p:nth-of-type(2){
  color:rgb(61, 179, 6);
}
.paramHeader div p:nth-of-type(3){
  width:50%;
  margin-left:5px;
}
.paramHeader div p:nth-of-type(4){
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  min-width:25%;
  margin-left: auto;
  text-align: right;
}

.paramReturn{
  width: 60%;
  padding-right: 30px;
  box-sizing: border-box;
}

.paramRaise{
  width: 40%;
}

.lookup{
  position: relative;
  cursor:help;
  text-decoration: underline;
}

.lookup span{
  width:200px;
  color:white;
  position: absolute;
  visibility: hidden;
  background-color: #272f33;
  padding:10px;
  border-radius: 4px;
  box-shadow: 0px 10px 10px -10px rgba(23, 33, 73, 0.247);
  transition: 0.1s;
  top:-50px;
}

.lookup:hover{
  color:green;
  text-decoration: none;
}

.lookup:hover span{
  visibility: visible;
}

.raises span{
  font-family:'Roboto Mono', monospace;
  color:#cf0934;
}

