@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h1 a{
  font-family: 'Work Sans', sans-serif;
  color: #181818;
}

p, a, li{
  font-family: 'Inter', sans-serif;
  color: #616161;
}

p, li{
  line-height: 150%;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  margin-bottom: 50px;
  width: 100%;
}

pre{
  overflow-x: scroll;
  padding: 15px;
  margin: 30px 0px;
  width: 100%;
  background-color: #f5f5f7;
  border-radius: 6px;
  box-shadow: 
        0px 8px 15px 0px rgba(26, 52, 82, 0.075), 
        0px 10px 7px -10px rgba(23, 33, 73, 0.062);
}
 
pre code{
  color: #575757;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
} 

pre code .hljs-keyword{
  color:rgb(255, 50, 135);
}

pre code .hljs-title{
  color:rgb(50, 180, 255);
}

pre code .hljs-params{
  color:rgb(50, 53, 255);
}

