.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav{
  width:100%;
  height:70px;
  position: fixed;
  background-color: #FFFFFF;
  /*box-shadow: 0px 8px 20px 0px rgb(33, 42, 51,0.17)*/
  border-bottom: solid 1px #cfcfcf;
}

.landing{
  height:90vh;
}

.section{
  width:1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  margin-bottom: 50px;
}

#landing h1{
  grid-column-start: 2;
  grid-column-end: 12;
  margin: 200px 0px 0px 0px;
  font-size: 90px;
  line-height: 105%;
  text-align: center;
}

#landing p{
  grid-column-start: 4;
  grid-column-end: 10;
  margin-top: 50px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}

#landing h1 a{
  text-decoration: underline;
  color: #00d660;
}

#landing button{
  margin-top: 100px;
  margin-bottom: 200px;
  grid-column-start: 6;
  grid-column-end: 8;
}

.col_card{
  grid-column: span 4;
}

.col_card img{
  width: 70px;

}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
