.container {
	min-height: 100%;
	width: 100%;
	padding: 50px;
}

.flex_center {
	align-self: center;
}

.full_display_height {
	height: 100vh;
}

.half_display_height {
	height:  50vh;
}

.horizantal_container {
	display: flex;
	justify-content: space-between;
}

.fourth_width {
	width: 25%;
}

.three_fourths_width {
	width: 75%;
}