# Reference: https://www.poornerd.com/2020/08/31/deploy-nextjs-github-actions.html
name: Build Website

on:
  push:
    branches: [ main, documentation ]

defaults:
  run:
    working-directory: website

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2.1.0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install docstring-parser
    - name: Run parser
      run: |
        python parser.py
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: BASE_PATH="/harvest" npx next build
    - run: BASE_PATH="/harvest" npx next export
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: /home/runner/work/harvest/harvest/website/out
     
